[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.116.0"
uvicorn = "~=0.35.0"
requests = "~=2.32.0"
python-dotenv = "~=1.1.0"
jinja2 = "~=3.1.0"
sqlmodel = "~=0.0.24"
motor = {extras = ["srv"], version = "~=3.7.0"}
beanie = "~=2.0.0"
pymongo = "~=4.14.0"
sodapy = "~=2.2.0"
faker = "~=37.6.0"
pydantic = {extras = ["email"], version = "~=2.11.0"}
bcrypt = "~=4.2.0"
pyjwt = "~=2.10.0"
python-multipart = "~=0.0.20"
cloudinary = "~=1.44.0"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"

[scripts]
dev = "uvicorn py_nyc.web.server:server --host localhost --port 8000 --reload"
start = "uvicorn py_nyc.web.server:server --host 0.0.0.0 --port 8000"
