[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
python-dotenv = "*"
jinja2 = "*"
sqlmodel = "*"
motor = {extras = ["srv"], version = "*"}
beanie = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"

[scripts]
dev = "uvicorn py_nyc.web.server:server --host localhost --port 8000 --reload"
start = "uvicorn py_nyc.web.server:server --host 0.0.0.0 --port 8000"
